html {
  display: block;
}

:root{
    --maincolor : #ffa435;
    font-size: 10px;
}

body {
    margin: 0;
    font-family: Pretendard, -apple-system, 
    BlinkMacSystemFont, system-ui, Roboto, 
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 
    'Noto Sans KR', 'Malgun Gothic', sans-serif;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;

    /* background-color: #ffca89; */
    background-color: var(--maincolor);
    text-align: center;
    cursor:'pointer';
    /* min-height: -webkit-fill-available; */

  }
  @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  .ui-container {
    max-width: 428px;
    background-color: var(--maincolor);
    /* position: fixed; */
    /* height: 100%; */
    /* overflow: scroll; */
    
    width: 100%;
    left: 50%;
    /* transform: translateX( -50% ); */
  }


button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

.ui-container{
  height: auto;
  min-height: 100%;
  padding-bottom: 85px;
}

ul {
  text-decoration: none;
  list-style:none;
  padding-left:0px;
}