.navBar__ {
    border-bottom: black 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.navBar__lng {
    font-size: 2.2rem;
    font-weight: 400;
    padding: 8px;
    color: black;
}

.navBar__logo {
    padding: 8px;
}