.navBar__ {
    border-bottom: black 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.navBar__info {
    font-size: 2.4rem;
    font-weight: 300;
    padding: 8px;
}

.navBar__logo {
    padding: 8px;
}